body{
    background-color:whitesmoke;
}

button{
    display:block;
    margin: 10px auto;
    text-transform:uppercase;
    font-family:arial;
    font-size:20px;
    padding:10px 5px;
    border:2px solid black;
    border-radius:5px;
    background-color:#333;
    color:white;
    cursor:pointer;
}

li{
    font-size:20px;

}

li.big{
    font-size:28px;
    color:red;
}